# Configuration Firebase
VITE_FIREBASE_API_KEY=your-api-key-here
VITE_FIREBASE_AUTH_DOMAIN=amcbunq.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=amcbunq
VITE_FIREBASE_STORAGE_BUCKET=amcbunq.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=117639555901342878348
VITE_FIREBASE_APP_ID=your-app-id-here

# Configuration email (pour les fonctions Firebase)
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-password 